# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [8]:
#Your code here
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and customers tables.

In [9]:
#Your code here
cur.execute("""select firstName, lastName from employees join offices using(officeCode) where city = 'Boston';""")
cur.fetchall()

[('Julie', 'Firrelli'), ('Steve', 'Patterson')]

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [10]:
#Your code here
cur.execute("""select officeCode, count(officeCode) from employees 
                      join offices using (officeCode)
                      group by officeCode""")
df = pd.DataFrame(cur.fetchall())
df

   0  1
0  1  6
1  2  2
2  3  2
3  4  5
4  5  2
5  6  4
6  7  2

In [11]:
# No!

## Write 3 Questions of your own and answer them

In [12]:
# What is the average discount of each item?

cur.execute("""select productCode as product, count(productCode) as sales_num,
                      sum(MSRP) - sum(buyprice) as discount_per_item,
                      (sum(MSRP) - sum(buyprice)) / count(productCode) as average_discount
                      from products 
                      join orderdetails using (productCode)
                      group by productCode""")

df = pd.DataFrame(cur.fetchall())
df. columns = [i[0] for i in cur.description]
df

       product  sales_num  discount_per_item  average_discount
0     S10_1678         28            1312.92             46.89
1     S10_1949         28            3240.16            115.72
2     S10_2016         28            1398.60             49.95
3     S10_4698         28            2873.92            102.64
4     S10_4757         28            1408.96             50.32
5     S10_4962         28            1240.96             44.32
6     S12_1099         27            2679.21             99.23
7     S12_1108         27            3029.67            112.21
8     S12_1666         28            1645.56             58.77
9     S12_2823         28            2361.80             84.35
10    S12_3148         27            1672.38             61.94
11    S12_3380         27            1141.56             42.28
12    S12_3891         27            2429.19             89.97
13    S12_3990         27            1292.76             47.88
14    S12_4473         28            1758.40             62.80
15    S12_4675         27            1523.61             56.43
16    S18_1097         28            1633.52             58.34
17    S18_1129         27            1566.81             58.03
18    S18_1342         28            1179.36             42.12
19    S18_1367         28             830.20             29.65
20    S18_1589         25            1462.00             58.48
21    S18_1662         28            2251.76             80.42
22    S18_1749         25            2082.50             83.30
23    S18_1889         27             623.70             23.10
24    S18_1984         27            1305.72             48.36
25    S18_2238         28            1742.16             62.22
26    S18_2248         25             681.00             27.24
27    S18_2319         28            1340.36             47.87
28    S18_2325         28            1922.20             68.65
29    S18_2432         28            1003.80             35.85
..         ...        ...                ...               ...
79    S24_4048         27            1309.50             48.50
80    S24_4258         28            1118.04             39.93
81    S24_4278         28            1014.16             36.22
82    S24_4620         27            1309.77             48.51
83    S32_1268         28            1186.64             42.38
84    S32_1374         28             923.16             32.97
85    S32_2206         27             434.43             16.09
86    S32_2509         28             787.64             28.13
87    S32_3207         27             956.34             35.42
88    S32_3522         28             868.84             31.03
89    S32_4289         28            1001.56             35.77
90    S32_4485         27            1239.84             45.92
91    S50_1341         28             464.24             16.58
92    S50_1392         28            1328.88             47.46
93    S50_1514         27             569.43             21.09
94    S50_4713         27            1274.13             47.19
95   S700_1138         27             882.09             32.67
96   S700_1691         28            1125.32             40.19
97   S700_1938         27            1169.37             43.31
98   S700_2047         28            1419.32             50.69
99   S700_2466         28             865.76             30.92
100  S700_2610         27            1034.37             38.31
101  S700_2824         28            1529.36             54.62
102  S700_2834         28            1660.96             59.32
103  S700_3167         28             716.80             25.60
104  S700_3505         27            1325.16             49.08
105  S700_3962         27            1233.36             45.68
106  S700_4002         28            1057.28             37.76
107   S72_1253         28             472.92             16.89
108   S72_3212         27             575.10             21.30

[109 rows x 4 columns]

In [93]:
# Your code here
cur.execute("""select *, sum(amount) as paid
                      from payments join customers
                      group by customers.customerNumber""")

df = pd.DataFrame(cur.fetchall())
df. columns = [i[0] for i in cur.description]
df

,customerNumber,checkNumber,paymentDate,amount,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit,paid
0,496,MN89921,2004-12-31,52166.00,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00,8853839.23
1,496,MN89921,2004-12-31,52166.00,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166,71800.00,8853839.23
2,496,MN89921,2004-12-31,52166.00,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.00,8853839.23
3,496,MN89921,2004-12-31,52166.00,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,,44000,France,1370,118200.00,8853839.23
4,496,MN89921,2004-12-31,52166.00,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,,Stavern,,4110,Norway,1504,81700.00,8853839.23
5,496,MN89921,2004-12-31,52166.00,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00,8853839.23
6,496,MN89921,2004-12-31,52166.00,125,Havel & Zbyszek Co,Piestrzeniewicz,Zbyszek,(26) 642-7555,ul. Filtrowa 68,,Warszawa,,01-012,Poland,,0.00,8853839.23
7,496,MN89921,2004-12-31,52166.00,128,"Blauer See Auto, Co.",Keitel,Roland,+49 69 66 90 2555,Lyonerstr. 34,,Frankfurt,,60528,Germany,1504,59700.00,8853839.23
8,496,MN89921,2004-12-31,52166.00,129,Mini Wheels Co.,Murphy,Julie,6505555787,5557 North Pendale Street,,San Francisco,CA,94217,USA,1165,64600.00,8853839.23
9,496,MN89921,2004-12-31,52166.00,131,Land of Toys Inc.,Lee,Kwai,2125557818,897 Long Airport Avenue,,NYC,NY,10022,USA,1323,114900.00,8853839.23
10,496,MN89921,2004-12-31,52166.00,141,Euro+ Shopping Channel,Freyre,Diego,(91) 555 94 44,"C/ Moralzarzal, 86",,Madrid,,28034,Spain,1370,227600.00,8853839.23
11,496,MN89921,2004-12-31,52166.00,144,"Volvo Model Replicas, Co",Berglund,Christina,0921-12 3555,Berguvsvägen 8,,Luleå,,S-958 22,Sweden,1504,53100.00,8853839.23
12,496,MN89921,2004-12-31,52166.00,145,Danish Wholesale Imports,Petersen,Jytte,31 12 3555,Vinbæltet 34,,Kobenhavn,,1734,Denmark,1401,83400.00,8853839.23
13,496,MN89921,2004-12-31,52166.00,146,"Saveley & Henriot, Co.",Saveley,Mary,78.32.5555,"2, rue du Commerce",,Lyon,,69004,France,1337,123900.00,8853839.23
14,496,MN89921,2004-12-31,52166.00,148,"Dragon Souveniers, Ltd.",Natividad,Eric,+65 221 7555,Bronz Sok.,Bronz Apt. 3/6 Tesvikiye,Singapore,,079903,Singapore,1621,103800.00,8853839.23
15,496,MN89921,2004-12-31,52166.00,151,Muscle Machine Inc,Young,Jeff,2125557413,4092 Furth Circle,Suite 400,NYC,NY,10022,USA,1286,138500.00,8853839.23
16,496,MN89921,2004-12-31,52166.00,157,Diecast Classics Inc.,Leong,Kelvin,2155551555,7586 Pompton St.,,Allentown,PA,70267,USA,1216,100600.00,8853839.23
17,496,MN89921,2004-12-31,52166.00,161,Technics Stores Inc.,Hashimoto,Juri,6505556809,9408 Furth Circle,,Burlingame,CA,94217,USA,1165,84600.00,8853839.23
18,496,MN89921,2004-12-31,52166.00,166,Handji Gifts& Co,Victorino,Wendy,+65 224 1555,106 Linden Road Sandown,2nd Floor,Singapore,,069045,Singapore,1612,97900.00,8853839.23
19,496,MN89921,2004-12-31,52166.00,167,Herkku Gifts,Oeztan,Veysel,+47 2267 3215,Brehmen St. 121,PR 334 Sentrum,Bergen,,N 5804,Norway,1504,96800.00,8853839.23
20,496,MN89921,2004-12-31,52166.00,168,American Souvenirs Inc,Franco,Keith,2035557845,149 Spinnaker Dr.,Suite 101,New Haven,CT,97823,USA,1286,0.00,8853839.23
21,496,MN89921,2004-12-31,52166.00,169,Porto Imports Co.,de Castro,Isabel,(1) 356-5555,Estrada da saúde n. 58,,Lisboa,,1756,Portugal,,0.00,8853839.23
22,496,MN89921,2004-12-31,52166.00,171,Daedalus Designs Imports,Rancé,Martine,20.16.1555,"184, chaussée de Tournai",,Lille,,59000,France,1370,82900.00,8853839.23
23,496,MN89921,2004-12-31,52166.00,172,"La Corne D'abondance, Co.",Bertrand,Marie,(1) 42.34.2555,"265, boulevard Charonne",,Paris,,75012,France,1337,84300.00,8853839.23
24,496,MN89921,2004-12-31,52166.00,173,Cambridge Collectables Co.,Tseng,Jerry,6175555555,4658 Baden Av.,,Cambridge,MA,51247,USA,1188,43400.00,8853839.23
25,496,MN89921,2004-12-31,52166.00,175,Gift Depot Inc.,King,Julie,2035552570,25593 South Bay Ln.,,Bridgewater,CT,97562,USA,1323,84300.00,8853839.23
26,496,MN89921,2004-12-31,52166.00,177,Osaka Souveniers Co.,Kentary,Mory,+81 06 6342 5555,1-6-20 Dojima,,Kita-ku,Osaka,530-0003,Japan,1621,81200.00,8853839.23
27,496,MN89921,2004-12-31,52166.00,181,Vitachrome Inc.,Frick,Michael,2125551500,2678 Kingston Rd.,Suite 101,NYC,NY,10022,USA,1286,76400.00,8853839.23
28,496,MN89921,2004-12-31,52166.00,186,"Toys of Finland, Co.",Karttunen,Matti,90-224 8555,Keskuskatu 45,,Helsinki,,21240,Finland,1501,96500.00,8853839.23
29,496,MN89921,2004-12-31,52166.00,187,"AV Stores, Co.",Ashworth,Rachel,(171) 555-1555,Fauntleroy Circus,,Manchester,,EC2 5NT,UK,1501,136800.00,8853839.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,496,MN89921,2004-12-31,52166.00,386,L'ordine Souveniers,Moroni,Maurizio,0522-556555,Strada Provinciale 124,,Reggio Emilia,,42100,Italy,1401,121400.00,8853839.23
93,496,MN89921,2004-12-31,52166.00,398,"Tokyo Collectables, Ltd",Shimamura,Akiko,+81 3 3584 0555,2-2-8 Roppongi,,Minato-ku,Tokyo,106-0032,Japan,1621,94400.00,8853839.23
94,496,MN89921,2004-12-31,52166.00,406,Auto Canal+ Petit,Perrier,Dominique,(1) 47.55.6555,"25, rue Lauriston",,Paris,,75016,France,1337,95000.00,8853839.23
95,496,MN89921,2004-12-31,52166.00,409,Stuttgart Collectable Exchange,Müller,Rita,0711-555361,Adenauerallee 900,,Stuttgart,,70563,Germany,,0.00,8853839.23
96,496,MN89921,2004-12-31,52166.00,412,"Extreme Desk Decorations, Ltd",McRoy,Sarah,04 499 9555,101 Lambton Quay,Level 11,Wellington,,,New Zealand,1612,86800.00,8853839.23
97,496,MN89921,2004-12-31,52166.00,415,"Bavarian Collectables Imports, Co.",Donnermeyer,Michael,+49 89 61 08 9555,Hansastr. 15,,Munich,,80686,Germany,1504,77000.00,8853839.23
98,496,MN89921,2004-12-31,52166.00,424,Classic Legends Inc.,Hernandez,Maria,2125558493,5905 Pompton St.,Suite 750,NYC,NY,10022,USA,1286,67500.00,8853839.23
99,496,MN89921,2004-12-31,52166.00,443,"Feuer Online Stores, Inc",Feuer,Alexander,0342-555176,Heerstr. 22,,Leipzig,,04179,Germany,,0.00,8853839.23
100,496,MN89921,2004-12-31,52166.00,447,Gift Ideas Corp.,Lewis,Dan,2035554407,2440 Pompton St.,,Glendale,CT,97561,USA,1323,49700.00,8853839.23
101,496,MN89921,2004-12-31,52166.00,448,Scandinavian Gift Ideas,Larsson,Martha,0695-34 6555,Åkergatan 24,,Bräcke,,S-844 67,Sweden,1504,116400.00,8853839.23
102,496,MN89921,2004-12-31,52166.00,450,The Sharp Gifts Warehouse,Frick,Sue,4085553659,3086 Ingle Ln.,,San Jose,CA,94217,USA,1165,77600.00,8853839.23
103,496,MN89921,2004-12-31,52166.00,452,Mini Auto Werke,Mendel,Roland,7675-3555,Kirchgasse 6,,Graz,,8010,Austria,1401,45300.00,8853839.23
104,496,MN89921,2004-12-31,52166.00,455,Super Scale Inc.,Murphy,Leslie,2035559545,567 North Pendale Street,,New Haven,CT,97823,USA,1286,95400.00,8853839.23
105,496,MN89921,2004-12-31,52166.00,456,Microscale Inc.,Choi,Yu,2125551957,5290 North Pendale Street,Suite 200,NYC,NY,10022,USA,1286,39800.00,8853839.23
106,496,MN89921,2004-12-31,52166.00,458,"Corrida Auto Replicas, Ltd",Sommer,Martín,(91) 555 22 82,"C/ Araquil, 67",,Madrid,,28023,Spain,1702,104600.00,8853839.23
107,496,MN89921,2004-12-31,52166.00,459,Warburg Exchange,Ottlieb,Sven,0241-039123,Walserweg 21,,Aachen,,52066,Germany,,0.00,8853839.23
108,496,MN89921,2004-12-31,52166.00,462,FunGiftIdeas.com,Benitez,Violeta,5085552555,1785 First Street,,New Bedford,MA,50553,USA,1216,85800.00,8853839.23
109,496,MN89921,2004-12-31,52166.00,465,"Anton Designs, Ltd.",Anton,Carmen,+34 913 728555,"c/ Gobelas, 19-1 Urb. La Florida",,Madrid,,28023,Spain,,0.00,8853839.23
110,496,MN89921,2004-12-31,52166.00,471,"Australian Collectables, Ltd",Clenahan,Sean,61-9-3844-6555,7 Allen Street,,Glen Waverly,Victoria,3150,Australia,1611,60300.00,8853839.23
111,496,MN89921,2004-12-31,52166.00,473,Frau da Collezione,Ricotti,Franco,+39 022515555,20093 Cologno Monzese,Alessandro Volta 16,Milan,,,Italy,1401,34800.00,8853839.23
112,496,MN89921,2004-12-31,52166.00,475,West Coast Collectables Co.,Thompson,Steve,3105553722,3675 Furth Circle,,Burbank,CA,94019,USA,1166,55400.00,8853839.23
113,496,MN89921,2004-12-31,52166.00,477,Mit Vergnügen & Co.,Moos,Hanna,0621-08555,Forsterstr. 57,,Mannheim,,68306,Germany,,0.00,8853839.23
114,496,MN89921,2004-12-31,52166.00,480,"Kremlin Collectables, Co.",Semenov,Alexander,+7 812 293 0521,2 Pobedy Square,,Saint Petersburg,,196143,Russia,,0.00,8853839.23
115,496,MN89921,2004-12-31,52166.00,481,"Raanan Stores, Inc","Altagar,G M",Raanan,+ 972 9 959 8555,3 Hagalim Blv.,,Herzlia,,47625,Israel,,0.00,8853839.23
116,496,MN89921,2004-12-31,52166.00,484,"Iberia Gift Imports, Corp.",Roel,José Pedro,(95) 555 82 82,"C/ Romero, 33",,Sevilla,,41101,Spain,1702,65700.00,8853839.23
117,496,MN89921,2004-12-31,52166.00,486,Motor Mint Distributors Inc.,Salazar,Rosa,2155559857,11328 Douglas Av.,,Philadelphia,PA,71270,USA,1323,72600.00,8853839.23
118,496,MN89921,2004-12-31,52166.00,487,Signal Collectibles Ltd.,Taylor,Sue,4155554312,2793 Furth Circle,,Brisbane,CA,94217,USA,1165,60300.00,8853839.23
119,496,MN89921,2004-12-31,52166.00,489,"Double Decker Gift Stores, Ltd",Smith,Thomas,(171) 555-7555,120 Hanover Sq.,,London,,WA1 1DP,UK,1501,43300.00,8853839.23
120,496,MN89921,2004-12-31,52166.00,495,Diecast Collectables,Franco,Valarie,6175552555,6251 Ingle Ln.,,Boston,MA,51003,USA,1188,85100.00,8853839.23
121,496,MN89921,2004-12-31,52166.00,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00,8853839.23

In [7]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold

In [ ]:
# Your code here

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!